@import "tailwindcss";

@font-face {
    font-family: "VeniteAdoremus";
    src: url("./assets/fonts/VeniteAdoremusStraight-Yzo6v.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VeniteAdoremus";
    src: url("./assets/fonts/VeniteAdoremus-rgRBA.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@theme {
    --font-tetris: "VeniteAdoremus", sans-serif;
    --color-electric-red: #ff0800;
    --color-jade-green: #03c03c;
    --color-cyan: #00ffff;
    --color-digital-blue: #0070ff;

    @keyframes shadow-pulse-red {
        0%,
        100% {
            filter: drop-shadow(0 0 20px rgba(255, 50, 50, 0.8));
        }

        50% {
            filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
        }
    }

    --animate-shadow-pulse-red: shadow-pulse-red 3s cubic-bezier(0.4, 0, 0.6, 1)
        infinite;

    @keyframes shadow-pulse-white {
        0%,
        100% {
            filter: drop-shadow(0 0 20px rgba(150, 150, 150, 0.8));
        }

        50% {
            filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
        }
    }

    --animate-shadow-pulse-white: shadow-pulse-white 3s
        cubic-bezier(0.4, 0, 0.6, 1) infinite;

    --animate-slow-pulse: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes generateSnap {
        0% {
            opacity: 0;
            filter: brightness(2);
        }
        100% {
            opacity: 1;
            filter: brightness(1);
        }
    }

    --animate-generate: generateSnap 0.5s cubic-bezier(0.19, 1, 0.22, 1)
        forwards;

    @keyframes generateShadow-red {
        0% {
            filter: drop-shadow(0 0 20px rgba(255, 50, 50, 0.8));
        }
    }

    --animate-generateShadow-red: generateShadow-red 1s
        cubic-bezier(1, 0, 0.99, 0.64) forwards;

    @keyframes shake-1 {
        0%,
        100% {
            transform: translateX(0);
        }
        20%,
        60% {
            transform: translateX(-2px);
        }
        40%,
        80% {
            transform: translateX(2px);
        }
    }
    @keyframes shake-2 {
        0%,
        100% {
            transform: translateX(0);
        }
        20%,
        60% {
            transform: translateX(-3px);
        }
        40%,
        80% {
            transform: translateX(3px);
        }
    }
    @keyframes shake-3 {
        0%,
        100% {
            transform: translateX(0);
        }
        20%,
        60% {
            transform: translateX(-5px);
        }
        40%,
        80% {
            transform: translateX(5px);
        }
    }
    @keyframes shake-4 {
        0%,
        100% {
            transform: translateX(0);
        }
        20%,
        60% {
            transform: translateX(-10px);
        }
        40%,
        80% {
            transform: translateX(10px);
        }
    }

    --animate-shake-1: shake-1 0.1s ease-in-out;
    --animate-shake-2: shake-2 0.15s ease-in-out;
    --animate-shake-3: shake-3 0.2s ease-in-out;
    --animate-shake-4: shake-4 0.25s ease-in-out;
}
